.footnotes-sep {
    @apply mt-20 opacity-10;
  }
  .footnotes {
    @apply text-sm opacity-75;
    margin-top: 0px !important;
  }
  .footnote-backref {
    display: none;
  }
.footnote-item {
    margin: 0px !important;
}

li > p {
    margin: 0px !important;
}
